<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <p>you are (invisible)</p>
  <label>
    usr
    <input sasuga-text-input name="username" type="text" placeholder="usr..." formControlName="username"/>
  </label>
  <label>
    key
    <input sasuga-text-input name="password" type="password" placeholder="key..." formControlName="password"/>
  </label>
  <p>
    <button sasuga-btn type="submit"  [disabled]="!loginForm.valid">go visible</button>
  </p>
</form>
<p *ngIf="loginState$ | async | isLoading">LOADING...</p>
<p *ngIf="loginState$ | async | isFailure">login failed</p>