<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <p>you are (invisible)</p>
  <label>
    usr<br>
    <input sasuga-text-input name="username" type="text" formControlName="username"/>
  </label>
  <label>
    key<br>
    <input sasuga-text-input name="password" type="password" formControlName="password"/>
  </label>
  <p>
    <button sasuga-btn type="submit"  [disabled]="!loginForm.valid">go visible</button><br>
    <a *ngIf="(registrationsEnabledState$ | async)" [routerLink]="['/register']">are you?</a>
  </p>
</form>
<p *ngIf="loginState$ | async | isLoading">LOADING...</p>
<p *ngIf="loginState$ | async | isFailure">login failed</p>