// font
$primary-font-stack: "Lucida Console", Monaco, monospace;
// colors
$primary-color: #FFFEFF;
$secondary-color: #E6A631;
$background-color: #2A2E45;
$aqua-primary-color: #AFFFD5;
$aqua-secondary-color: #92D4B2;
$text-on-aqua-primary-color: #504040;
$text-on-aqua-secondary-color: #9B0101;