@import 'variables';

:host {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
}
.brand {
  letter-spacing: 1em;
}
nav {
  a {
    color: $text-on-aqua-primary-color;
    font-weight: 600;
    text-decoration: none;
    border: 5px outset $aqua-primary-color;
    background-color: $aqua-secondary-color;
    &:hover {
      color: $text-on-aqua-secondary-color;
      border: 5px inset $aqua-secondary-color;
    }
    &.active {
      color: $text-on-aqua-secondary-color;
      border: 5px inset $aqua-secondary-color;
    }
  }
}