:host {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
  z-index: 1000;
}
.brand {
  letter-spacing: 1em;
  cursor: pointer;
}
.hidden {
  display: none !important;
}
.menu {
  position: absolute;
  top: 50px;
  right: 0px;
  display: flex;
  flex-direction: column;
}