@import 'variables';

:host {
  overflow: auto;
}

.files {
  padding: 0;
  list-style-type: none;
  column-count: 4;
  column-gap: 0px;
}

.file {
  border: $aqua-primary-color 1px solid;
}

.media {
  font-size: 0px;
}

.none-option {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.selected {
  border: 5px solid red;
}

.img, .video {
  max-width: 100%;
  max-height: 40vh;
}

.link {
  text-decoration: underline;
  color: rgb(0, 0, 238);
  cursor: pointer;
}