@import 'variables';

:host {
  display: flex;
  flex-direction: column;
  overflow:hidden;
  height: 100%;
  background-color: $aqua-secondary-color;
  color: $text-on-aqua-primary-color;
  z-index: 500;
}

.message {
  word-wrap: break-word;
}

.chat {
  flex: 1;
  width: 100%;
  overflow-y: auto;
}

form {
  display: flex;
  >input {
    flex: 1;
    min-width: 0px;
  }
}