<div class="video" id="videojs-container" *ngIf="user">
  <video id="videojs" class="video-js hidden" controls muted playsinline preload="none"></video>
  <div *ngIf="!isStreaming" class="offline" [style.background-image]="user?.image ? 'url('+uploadBasePath+user?.image?.filename+')' : ''">
    <div class="inner-offline">offline</div>
  </div>
  <div class="profile">
    <div class="name-icon">
      <div class="icon" [style.background-image]="user?.icon ? 'url('+uploadBasePath+user?.icon?.filename+')' : ''"></div>
      <div class="name">{{user?.preferedName}}<br><small class="handle">@{{user?.name}}@{{domain}}</small></div><br>
    </div>
    <div class="summary">{{user?.summary}}</div>
  </div>
</div>
<div class="chat">
  <sasuga-chat *ngIf="user" [channelname]="user?.name"></sasuga-chat>
</div>