:host {
  position: absolute;
  bottom: 0;
  right: 0;
  color: lawngreen;
}

.message {
  animation-name: fadeOut;
  animation-duration: 3s;
  opacity: 0;
  animation-fill-mode: both;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}